#commentator {
  position: fixed;
  top: 10px;
  right: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  max-width: 40vw;
  grid-gap: 5px 20px;
  align-items: center;
  padding: 20px;
  aspect-ratio: auto;
}

#commentator-name { grid-area: 1 / 2; }

#commentator-profile {
  grid-row: 1 / -1;
  grid-column: 1;
  border-radius: 50%;
}

#commentator-comment {
  grid-area: 2 / 2;
  font-size: 0.8rem;
  width: fit-content;
}

#commentator-comment ol { list-style: upper-roman inside; }
