/* card */

.card {
  padding: 2rem;
  background: var(--card-background);
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  position: relative;
}

.card,
.card button { box-shadow: 0 0 10px var(--main-font-color); }

.card *:not(button, span) { color: var(--white); }

.card .card-title {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  max-width: 80%;
  transform: translate(-50%, -50%);
}

.card .join {
  font-size: 1.25rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 10%);
}

.card small,
.card time {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 0.75rem;
  color: var(--card-small-color);
}

/* layout */

#rooms-page, #game-page { padding: 1rem; }
#rooms-list {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: stretch;
  grid-gap: 25px;
}
#game-page {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: minmax(auto, 25%) 1fr;
}

#add-room-btn, #quit-room-btn { margin: 10px 0; }
#quit-room-btn { grid-area: 2 / 1; }
#users-list {
  grid-area: 3 / 1;
  padding: 10px;
}
#game-board {
  position: relative;
  grid-column: 2;
  grid-row: 1 / -1;
}

/* user component */

.user .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.user small { margin-left: 10px; }
.user h3 { margin: 10px 0; }

.ready-status-green { background-color: var(--ready); }
.ready-status-red { background-color: var(--not-ready); }

.complete .icon,
.complete .user-progress span {
  background-color: var(--complete);
  border-radius: 20px;
}

/* progress */

.user-progress {
  width: 100%;
  border-radius: 20px;
  height: 25px;
  border: solid 2px var(--input-border-color);
  padding: 5px;
}
.user-progress > span {
  display: block;
  position: relative;
  height: 100%;
  border-radius: 20px 8px 8px 20px;
  background-color: tomato;
}
.complete .user-progress > span::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px 8px 8px 20px;
  background-size: 50px 50px;
  background-image: linear-gradient(
          -45deg,
          rgba(255, 255, 255, 0.2) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.2) 50%,
          rgba(255, 255, 255, 0.2) 75%,
          transparent 75%,
          transparent
  );
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

/* game board */

#game-board .card,
#game-board button,
#text-container,
#game-board time:not(.game-timer) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game-board time { text-align: center; }

#game-board .card {
  width: 50%;
  height: 50%;
  min-width: 200px;
  min-height: 200px;
}
#game-board button {
  padding: 1rem;
  font-size: 2rem;
}

#game-board time:not(.game-timer) {
  font-size: 3rem;
  font-weight: bold;
}

#game-board span { color: var(--white); }
.text-written { background-color: var(--card-small-color); }
.text-current { text-decoration: var(--white) underline; }
